*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    /*1rem = 10px*/
}

body {
    background-color: #eee;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

li {
    list-style: none;
}

a,
a:active,
a:link {
    text-decoration: none;
    color: inherit;
}

/* Header */
.heading {
    font-family: "Great Vibes", cursive;
    color: #c59d5f;
    font-size: 4.2rem;
    margin-bottom: 3rem;
}

/* Question Section */
.question {
    width: 40vw;
    margin: auto;
    padding: 1rem 2rem;
    background-color: #fff;
    margin-bottom: 2rem;
    border-radius: 5px;
}

.question-title {
    font-size: 2.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: .75rem 0;
}

.question-title p {
    color: #27374D;
    font-weight: 300;
    text-transform: capitalize;
}

.question-btn {
    cursor: pointer;
    transition: all .3s;
}

.question-btn:hover {
    transform: rotate(90deg);
}

.far {
    color: #c59d5f;
}

.question-text {
    max-height: 0;
    visibility: hidden;
    overflow: hidden;
    margin-top: .5rem;
    transition: max-height 0.2s , visibility 0.2s ;
}

.question-text p {
    margin: 1rem 0;
    padding: 1rem 0;
    line-height: 1.5;
    font-size: 1.6rem;
}

.show-text .question-text {
    max-height: 1000px;
    visibility: visible;
}

.minus-icon {
    display: none;
}

.show-text .minus-icon {
    display: block;
}

.show-text .plus-icon {
    display: none;
}
/* Media Query  */
@media only screen and (max-width:1000px) {
    .question {
        width: 45vw;
    }
}
@media only screen and (max-width:900px) {
    html{
        font-size: 50%;
    }
    .question {
        width: 50vw;
    }
}
@media only screen and (max-width:700px) {
    .question {
        width: 55vw;
        padding: .8rem 1.6rem;
        margin-bottom: 1.8rem;
    }

    .question-title {
        font-size: 2rem;
    }
}
@media only screen and (max-width:580px) {
    .question{
        width: 65vw;
    }
    .question-title{
        flex-direction: column;
        align-items: start;
    }
    .question-title .question-btn{
        align-self: center;
    }
    
    .question-btn:hover {
        transform: rotate(0);
    }
    .question-text p {
        margin: 0rem 0;
        padding: 1rem 0;
    }
}
@media only screen and (max-width:430px){
    
    .question-title p{
        padding-bottom: 1rem;
        border-bottom: 1px solid #c59d5f;
    }
    hr{
        display: none;
    }
}
